LINE_CHANNEL_ACCESS_TOKEN=<your_line_channel_access_token>
LINE_CHANNEL_SECRET=<your_line_channel_secret>

LINE_CHANNEL_ACCESS_TOKEN_NIMBUS=<your_line_channel_access_token>
LINE_CHANNEL_SECRET_NIMBUS=<your_line_channel_secret>

LINE_CHANNEL_ACCESS_TOKEN_MERIDIAN=<your_line_channel_access_token>
LINE_CHANNEL_SECRET_MERIDIAN=<your_line_channel_secret>

LINE_CHANNEL_ACCESS_TOKEN_ZEPHYR=<your_line_channel_access_token>
LINE_CHANNEL_SECRET_ZEPHYR=<your_line_channel_secret>

LINE_CHANNEL_ACCESS_TOKEN_VECTOR=<your_line_channel_access_token>
LINE_CHANNEL_SECRET_VECTOR=<your_line_channel_secret>

LINE_CHANNEL_ACCESS_TOKEN_Aurora=<your_line_channel_access_token>
LINE_CHANNEL_SECRET_Aurora=<your_line_channel_secret>

Token_ARITABLE=<your_airtable_token>
ARITABLES_ID=<your_airtable_id>
ARITABLES_NAMES=<your_airtable_name>

BASE_URL=<your_public_base_url>

HOTSPOT_API_BASE_URL=<your_public_base_url>

VERDANT_LINE_LIFF_ID=<your_liff_id>
VERDANT_LINE_LIFE_URL=<your_public_base_url>

VERDANT_UID=<your_line_user_id>
AURORA_UID=<your_line_user_id>

AURORA_LINE_LIFF_ID=<your_liff_id>

# Optional: Google Sheets sync (test-drive bookings) - path to a service-account JSON key.
# Leave unset to run the demo with Sheets features disabled.
GOOGLE_SHEETS_KEY_FILE=<your_google_sheets_key_file.json>
